body {
	padding: 0px 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
  background-repeat: no-repeat;
  background-size:contain;
  background-position:top-left;
  background-size: 100%;
}

div.img img {
  display: inline;
  margin: -50px;
  margin-left: 1px;
}

#searchData{
  margin-top: 5px;
}

h4 {
  color: grey;
}

#j1 {
  margin-top: 30%;
  color: white;
  background: rgb(255, 255, 255); 
  background: rgba(255, 255, 255, 0); 
}

#j1 h1 {
  color: white;
  font-family: Lobster;
  font-size: 600%;
}

#inicialBtn{
  font-family: Lobster;
  font-weight: 100%;
}


.btn {
  font-family: Lobster;
}

#termscond {
  font-family: Lobster;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.toppad {
  margin-top:20px;
}

#contactus {
  font-family: Lobster;
}

#cuh3 {
  font-family: Lobster;
}

#aboutus {
  font-family: Lobster;
}

#auh3 {
  font-family: Lobster;
}

.team-member h4 {
    font-family: Lobster;
}
